
        <!DOCTYPE html>
            <html>
            <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" type="text/css" href="../../stylesheets/mcc_custom.css" /><meta name="keywords" content="开 看 开  垦 231 232"> <meta name="description" content="的对 的么 逗我吗  qq qwew"><title>我是大帅比</title>
            </head>
            <body>
            <div class="header">
                
            </div>

            <div class="main-content"><div class="content-title">我是大帅比</div>
    <div class="content">
    <p>这是我第4个博客</p><p>&nbsp; &nbsp; 加油，我为了测试博客</p><p>哈哈哈哈</p><p>&nbsp; &nbsp; 真好</p><ul><li>列表测试</li><li>列表测试</li><li>哈哈哈</li></ul><ol><li>有些列表</li><li>有序</li><li>有序</li></ol><figure class="image"><img src="/images/blog_content_images/21505_WechatIMG8.jpeg"></figure><blockquote><p>biubiu2</p><p>代码牛逼片段</p></blockquote><figure class="image"><img src="/images/blog_content_images/45264_83e7d8bd89949fee4625a3f9a99f1b21.jpg"></figure><p>图片都能上传成功，也是很牛逼了</p><p>加油</p><p>&nbsp; &nbsp; 真好</p><p>best for you</p></div>
            </div>
            </body>
            <script src="../../javascripts/vendor/jquery.2.2.3.min.js"></script>
            <script src="../../javascripts/js/public_share_code.js"></script>

        </html> 