
        <!DOCTYPE html>
            <html>
            <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" type="text/css" href="../../stylesheets/mcc_custom.css" /><meta name="keywords" content="人工智能"> <meta name="description" content="人工智能描述"><title> 第二集</title>
            </head>
            <body>
            <div class="header">
                
            </div>

            <div class="main-content"><div class="content-title">第二集</div>
    <div class="content">
    <p>啦啦啦啦啦啦啊，哈哈哈哈</p><p>比 u 比 u 比 u生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世试试啦啦啦啦啦啦啊，哈哈哈哈</p><p>比 u 比 u 比 u生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世试试啦啦啦啦啦啦啊，哈哈哈哈</p><p>比 u 比 u 比 u生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世试试啦啦啦啦啦啦啊，哈哈哈哈</p><p>比 u 比 u 比 u生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世试试啦啦啦啦啦啦啊，哈哈哈哈</p><p>比 u 比 u 比 u生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世生生世世试试</p></div>
            </div>
            </body>
            <script src="../../javascripts/vendor/jquery.2.2.3.min.js"></script>
            <script src="../../javascripts/js/public_share_code.js"></script>

        </html> 