
        <!DOCTYPE html>
            <html>
            <head>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" type="text/css" href="../../stylesheets/mcc_custom.css" /><meta name="keywords" content="demo 小胖猪"> <meta name="description" content="小胖猪"><title>大胖猪</title>
            </head>
            <body>
            <div class="header">
                
            </div>

            <div class="main-content"><div class="content-title">大胖猪</div>
    <div class="content">
    <p>你是一个小胖猪，小胖猪</p><p>小胖猪</p><p>小胖猪</p><p>小呀小胖猪</p></div>
            </div>
            </body>
            <script src="../../javascripts/vendor/jquery.2.2.3.min.js"></script>
            <script src="../../javascripts/js/public_share_code.js"></script>

        </html> 